@charset "UTF-8";

:root {
    --font-a: 'Asap', sans-serif;
    --font-b: 'Biryani', sans-serif;
    --font-c: 'Nunito', sans-serif;
    --color-a: #001542;
    --color-b: #085454;
    --color-c: #7A7A7A;
    --color-d: #FFFFFF;
    --color-e: #FFB30D;
}

header { border-bottom: 2px solid var(--color-c); }

.navbar { background-color: var(--color-d) !important; }

.navbar-brand {
    color: var(--color-a) !important;
    font-family: var(--font-b);
    font-size: 2.2em;
    font-weight: 500;
}

a.nav-link {
    color: var(--color-a);
    font-size: 1.2em;
    font-family: var(--font-a);
}

a.nav-link:hover { color: var(--color-c); }

a.nav-link.active { color: var(--color-c); }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topic > h1,
#questions > h1 {
    color: var(--color-e);
    font-family: var(--font-b);
    text-shadow: 2px 2px 2px var(--color-a);
    font-weight: 600;
    text-align: center;
}

.topic > p {
    color: var(--color-b);
    font-family: var(--font-a);
    font-size: 1.3em;
    text-align: center;
}

.topic > button,
#support > button {
    border: 0px none transparent;
    background-image: linear-gradient(to right, var(--color-b), var(--color-a));
    color: var(--color-e);
    padding: 1rem 3rem;
    font-family: var(--font-c);
    font-weight: 500;
    font-size: 1.4em;
    border-radius: 10px;
    transition: background-image 1.2s ease-out, box-shadow 0.8s ease-out;
}

#ebooks-carousel {
    margin: 1rem 0rem;
    border: 2px solid var(--color-a);
}

.philosophy-tip {
    background-image: url('../images/filosofia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-d);
    background-position: center center;
    background-attachment: fixed;
    display: block;
}

.philosophy-tip > h4 {
    text-align: center;
    color: var(--color-e);
    font-size: 2.2em;
    text-shadow: 3px 3px 5px var(--color-a);
}

.philosophy-tip > p {
    color: var(--color-d);
    text-shadow: 3px 3px 5px var(--color-c);
    font-family: var(--font-a);
    text-align: left;
    font-style: italic;
    font-size: 2em;
}

.service-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-image: linear-gradient(to top, var(--color-c), var(--color-a));
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    margin-bottom: 2.7rem;
    box-shadow: 3px 3px var(--color-a);
}

.service-feature > i {
    font-size: 3.4em;
    transform: translateY(-60%);
    color: var(--color-e);
}

.service-feature > p {
    color: var(--color-d);
    font-family: var(--font-a);
    font-size: 1.3em;
    text-align: center;
}

.service-feature > button {
    background-color: var(--color-b);
    border: 0px none transparent;
    font-size: 1.4em;
    color: var(--color-d);
    font-family: var(--font-c);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0rem;
    transition: background-color 0.2s ease-in, color 0.5s ease-in;
}

.testimonies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.testimony {
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: row !important;
    background-color: var(--color-b);
    box-shadow: 4px 4px var(--color-c);
}

.testimony > i {
    font-size: 2em;
    margin-right: 12px;
    color: var(--color-e);
}

.testimony > p {
    color: var(--color-d);
    font-family: var(--font-a);
    width: 80%;
    font-style: italic;
}

#questions { display: block; }

#questions > h1 {
    text-align: left;
}
.accordion,
.accordion-item {
    width: 100%;
}

.accordion-button,
.accordion-button:focus {
    background-color: var(--color-d) !important;
    color: var(--color-b) !important;
    font-family: var(--font-a) !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 600;
}

.accordion-body {
    background-color: var(--color-d);
    color: var(--color-c);
    font-family: var(--font-a);
    font-style: italic;
    font-weight: 500;
    text-shadow: -1px -1px var(--color-a);
}

#support > h1 {
    color: var(--color-e);
    font-family: var(--font-b);
    text-shadow: 2px 2px 2px var(--color-a);
    font-weight: 600;
    text-align: center;
}

#support > p {
    color: var(--color-b);
    font-family: var(--font-a);
    font-size: 1.3em;
    text-align: center;
}

#support button {
    font-size: 1em;
}

#support i {
    margin-right: 8px;
}

aside {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 90%;
    background-image: linear-gradient(to top, var(--color-c), var(--color-a));
    position: fixed;
    top: 10%;
    left: 5%;
    border-radius: 20px;
}

aside > .topic-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.topic-top > h1 {
    color: var(--color-e);
    font-family: var(--font-b);
    text-shadow: 2px 2px 2px var(--color-a);
    font-weight: 600;
    font-size: 1.3em;
}

.topic-top > button {
    background-color: transparent;
    border: 0px none transparent;
    color: var(--color-e);
    font-size: 1.3em;
}

.topic-bottom {
    display: flex;
    align-items: start;
    justify-content: left;
}

.topic-left { display: none; }

.topic-left > p {
    color: var(--color-d);
    font-family: var(--font-a);
    font-style: italic;
    font-size: 1.3em;
}

.topic-bottom label {
    color: var(--color-d);
    font-family: var(--font-a);
    font-size: 1.3em;
    font-weight: 500;
}

.topic-bottom input {
    border: none !important;
    box-shadow: none !important;
    color: var(--color-b) !important;
    font-family: var(--font-a) !important;
    font-size: 1.1em !important;
    width: 100%;
}

.topic-bottom input::placeholder {
    color: var(--color-b) !important;
    font-family: var(--font-a) !important;
    font-size: 1.1em !important;
}

.topic-bottom input:focus { border: 2px solid var(--color-e) !important; }

.topic-bottom button {
    border: 0px none transparent;
    font-size: 1.2em;
    font-family: var(--font-c);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    color: var(--color-d);
    background-color: var(--color-b);
    transition: background-color 0.2s ease-in, color 0.5s ease-in;
}

.topic-bottom button:hover {
    background-color: var(--color-c);
    color: var(--color-b);
}

.topic-bottom button > i {
    font-size: 1.2em;
    margin-right: 8px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-c);
}

footer > .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer > .top { border-bottom: 2px solid var(--color-e); }

footer > .top > h1 {
    color: var(--color-a);
    font-family: var(--font-b);
    font-size: 1.8em;
    text-shadow: 1px 1px 3px var(--color-b);
}

footer h2 {
    color: var(--color-d);
    font-family: var(--font-b);
    font-size: 1.5em;
    text-shadow: 1px 1px 3px var(--color-a);
    text-align: center;
}

.middle > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle a {
    color: var(--color-a);
    text-decoration: none;
    font-family: var(--font-a);
    font-size: 1.3em;
    text-align: center;
}

.middle i {
    font-size: 1.4em;
    margin-right: 10px;
}

.middle a:hover {
    color: var(--color-d);
    text-decoration: underline;
    text-decoration-color: var(--color-e);
    font-style: italic;
}

@media screen and (min-width: 992px) {
    article {
        flex-direction: row;
        width: 60%;
    }

    .topic > h1,
    #questions > h1 {
        border-left: 5px solid var(--color-c);
        padding-left: 10px;
        text-align: left;
    }

    .topic > p { text-align: left; }

    .topic > button:hover,
    #support > button:hover {
        background-image: linear-gradient(to left, var(--color-b), var(--color-a));
        box-shadow: 10px 8px 8px var(--color-c);
    }
    
    .topic  {
        display: flex !important;
        flex-direction: column !important;
        align-items: left !important;
        justify-content: left !important;
    }

    #ebooks-carousel {
        box-shadow: -10px -10px 10px var(--color-c);
        border: none;
    }

    .philosophy-tip > p { text-align: center; }

    .services { justify-content: space-between; }
    
    .service-feature {
        margin: 0px;
        width: 30%;
        box-shadow: none;
    }

    .service-feature > i { font-size: 3em; }

    .service-feature > p {
        text-align: left;
        font-size: 1.1em;
    }

    .service-feature > button {
        font-size: 1.2em;
        padding: 0.5rem 1rem;
    }

    .service-feature > button:hover {
        background-color: var(--color-c);
        color: var(--color-b);
    }

    #support p { width: 70%; }

    #support button { font-size: 1.4em; }

    footer {
        align-items: left;
        justify-content: left;
    }

    footer > .middle {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    footer h2 { text-align: left; }

    footer h2 { text-align: left; }

    .middle > div {
        align-items: start;
        justify-content: left;
    }

    .middle a {
        font-size: 1.1em;
        text-align: left;
    }

    .middle i { font-size: 1.6em; }

    aside {
        width: 50%;
        left: 25%; 
    }

    .topic-top > h1 { font-size: 1.8em; }

    .topic-top { font-size: 1.5em; }

    .topic-bottom label { cursor: pointer; }

    .topic-top > button:hover {
        border-radius: 3px;
        border: 2px solid var(--color-e);
    }

    .topic-left { display: block; }
}
